mat-sidenav.mat-drawer.mat-sidenav.panel.mat-drawer-end.mat-sidenav-fixed.mat-drawer-over.mat-drawer-opened {
	z-index: 100000;
}
.ck.ck-balloon-panel.ck-balloon-panel_caret_ne.ck-balloon-panel_visible {
	z-index: 100001;
}

a.title, 
.in-project, 
.task-company-address, 
.task-company-phone, 
a.task-company-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.in-project, 
.in-project a {
	font-style: italic;
	opacity: 0.75; 
	display: none !important;
}

th.mat-mdc-header-cell, 
td.mat-mdc-cell {
	padding: 0px 12px !important;
}

.duedate-cell span:last-child, 
app-task-icon, 
.visibility-component {
	display: none !important;
}

.mat-column-status, 
.mat-column-account {
	width: 174px;
}

.mat-column-dueDate, 
.mat-column-assignee, 
.mat-column-actions, 
.mat-column-address {
	width: 65px;
	
	& .select-text-container {
		justify-content: center !important;
	}
}

.mat-column-status .mdc-evolution-chip-set__chips, 
.mat-column-status .sort-header-container {
	justify-content: flex-end !important;
}

.mat-column-status .sort-header-container {
	margin-right: 8px;
}

.sort-header-button {
	gap: 0.1rem;
}

td.mat-mdc-cell, 
.mat-mdc-header-cell, 
.mat-mdc-table-sticky:last-child {
	border: 0 !important;
}

.glxy-page {
	max-width: 1400px !important;
	margin: auto !important;
}

td.mat-column-account * {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.task-title-cell {
	padding: 6px 0 !important;
}

.mat-drawer-content {
	overflow: hidden; 
}

.logo-container {
	display: none !important;
}

tr:has(span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label[ws-status="on-hold"]) {
		opacity: 0.3;
}
